@import url("https://fonts.googleapis.com/css2?family=Domine:wght@400..700&family=Orbitron:wght@400..900&display=swap");
@import "tailwindcss";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: "Instrument Sans", ui-sans-serif, system-ui, sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
        "Noto Color Emoji";
    --font-serif: "Domine", serif;
    --font-mono: "Source Code Pro", ui-monospace, SFMono-Regular, Menlo, Monaco,
        Consolas, monospace;
}

/* Make all body text serif by default */
body {
    font-family: theme("fontFamily.serif");
}
